# Credentials for functional testing
[auth]
auth_url = http://127.0.0.1:5000/v2.0
magnum_url = http://127.0.0.1:9511/v1
username = demo
tenant_name = demo
password = password
auth_version = v2
[admin]
user = admin
tenant = admin
pass = password
[magnum]
image_id = fedora-atomic-latest
nic_id = public
keypair_id = default
flavor_id = s1.magnum
master_flavor_id = m1.magnum
