# Credentials for functional testing
[auth]
auth_url = http://127.0.0.1:5000/v3
magnum_url = http://127.0.0.1:9511/v1
username = demo
project_name = demo
project_domain_id = default
user_domain_id = default
password = password
auth_version = v3
insecure=False
[admin]
user = admin
project_name = admin
pass = password
project_domain_id = default
user_domain_id = default
[magnum]
image_id = fedora-atomic-latest
nic_id = public
keypair_id = default
flavor_id = s1.magnum
master_flavor_id = m1.magnum
