magnum_src_dir: "src/git.openstack.org/openstack/magnum"

magnum_repository: openstackmagnum
kubernetes_version_v1_11: v1.11.8
kubernetes_version_v1_12: v1.12.6
kubernetes_version_v1_13: v1.13.4
kubernetes_images:
  - name: kubernetes-apiserver
  - name: kubernetes-controller-manager
  - name: kubernetes-kubelet
  - name: kubernetes-scheduler
  - name: kubernetes-proxy

magnum_images:
  - name: heat-container-agent
    tag: stein-dev

helm_version: v2.12.3
