magnum_src_dir: "src/opendev.org/openstack/magnum"

magnum_repository: openstackmagnum
kubernetes_version_v1_11: v1.11.10
kubernetes_version_v1_12: v1.12.10
kubernetes_version_v1_13: v1.13.12
kubernetes_version_v1_14: v1.14.10
kubernetes_version_v1_15: v1.15.11
kubernetes_version_v1_16: v1.16.2
kubernetes_images:
  - name: kubernetes-apiserver
  - name: kubernetes-controller-manager
  - name: kubernetes-kubelet
  - name: kubernetes-scheduler
  - name: kubernetes-proxy

magnum_images:
  - name: heat-container-agent
    tag: ussuri-dev

helm_version: v2.12.3

cluster_autoscaler_versions:
  - version: 1.16.5
  - version: 1.17.2
  - version: 1.18.1
